@import "tailwindcss";


@layer base {
  html {
    @apply text-base;
  }

  body {
    @apply bg-gray-50;
  }

  *, ::before, ::after {
    /*@apply duration-200;*/
  }

  h1 { @apply text-5xl; }
  h2 { @apply text-4xl; }
  h3 { @apply text-3xl; }
  h4 { @apply text-xl; }

  h1, h2, h3, h4, h5, h6, button {
    @apply text-gray-50 font-bold;
  }

  p, span {
    @apply text-gray-300 font-normal text-base ;
  }

  li, a {
    @apply text-inherit font-normal text-base ;
  }

  a, button {
    cursor: pointer;
  }

  input {
    border: none;
    background: transparent;
    box-shadow: none;
    outline: none;

    appearance: none;
    -webkit-appearance: none;

    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
  }

  body {
    color: #000000;
  }

  /* Форсируем черный цвет для всех текстовых элементов,
     так как инпуты, кнопки и ссылки иногда не наследуют цвет от body */
  h1, h2, h3, h4, h5, h6, p, span, a, input, textarea, button {
    color: #000000;
  }
}



